@import url("/chess/style.css");
body
{
	margin: 0;
}
td
{
	padding: 8px;
}
#navigationContainer
{
	width: 25%;
	height: 100vh;
	top: 0;
	background-color: #000040;
	position: fixed;
}
#navigationToggleMenu
{
	height: 100%;
}
#mainContent
{
	margin-left: 25%;
	margin-right: 0;
	&>p
	{
		margin-left: 64px;
		margin-right: 64px;
	}
}
#refresh
{
	width: fit-content;
	margin: 16px auto 64px auto;
	&>a
	{
		background-color: #002020;
		text-align: center;
		color: #E0E0E0;
		text-decoration: none;
		padding: 8px;
		border-radius: 16px;
		&:hover
		{
			background-color: #004040;
		}
	}
}
