body
{
	background-color: #002020;
	color: #E0E0E0;
	font-family: monospace;
	font-size: 32px;
}
.title
{
	font-size: 64px;
	text-align: center;
}
table
{
	border-spacing: 0;
	border: 1px solid #E0E0E0;
	margin: auto;
	& td
	{
		border: 1px solid #E0E0E0;
		padding: 8px;
		width: 512px;
		height: 80px;
		text-align: center;
		&>a
		{
			color: inherit;
		}
		&>p
		{
			display: none;
			font-size: 16px;
		}
		&:hover
		{
			background-color: #004040;
			&>p
			{
				display: block;
			}
		}
	}
}
