@import url("style.css");
input
{
	background-color: #002020;
	color: #E0E0E0;
	border: none;
	outline: none;
	font: inherit;
	margin: 0 16px;
	width: 8ch;
	&:focus
	{
		background-color: #004040;
		outline: 1px solid #E0E000;
	}
}
.inputdiv
{
	display: flex;
	width: fit-content;
	margin: 16px auto;
	&>label
	{
		width: 24ch;
	}
}
.roundbutton
{
	background-color: #002020;
	border-radius: 8px;
	margin: 0 16px;
	padding: 8px;
	min-width: 48px;
	text-align: center;
	&:hover
	{
		background-color: #008080;
		cursor: pointer;
	}
}
.clockButtonDiv
{
	background-color: #202020;
	width: 37.5%;
	height: 64px;
	margin: 0 12.5%;
}
.timeDisplayDiv
{
	background-color: #004000;
	font-size: 64px;
	width: 37.5%;
	margin: auto 12.5%;
	text-align: center;
}
#instructionLink
{
	color: inherit;
	&:hover
	{
		background-color: #000040;
	}
}
#instructions
{
	width: 75%;
	margin: auto;
}
#settingdiv
{
	width: fit-content;
	margin: auto;
}
#clockdiv
{
	margin-top: 32px;
}
#clockButtonParent
{
	display: flex;
}
#clockDisplayDiv
{
	background-color: #002000;
	display: flex;
	height: 128px;
}
#copytime
{
	width: fit-content;
	margin: auto;
}
#settime
{
	background-color: #002000;
	border-radius: 8px;
	margin: 16px auto;
	padding: 4px;
	width: fit-content;
	text-align: center;
	&:hover
	{
		background-color: #008000;
		cursor: pointer;
	}
}
