@import url("style.css");
.navigationConfiguration
{
	display: none;
}
#navigationHoverMenu
{
	display: grid;
	margin: auto;
	width: 75%;
	text-align: center;
	& a
	{
		color: inherit;
	}
	& div
	{
		height: fit-content;
	}
	&>div
	{
		flex: 1;
		background-color: #202000;
	}
	& .top
	{
		border-bottom: 8px solid #202000;
		&:hover
		{
			border-bottom: 8px solid #404000;
			background-color: #404000;
			&+.deeper
			{
				background-color: #202000;
				&>.top
				{
					background-color: #202000;
					display: block;
				}
			}
		}
	}
	& .deeper
	{
		background-color: #000020;
		display: grid;
		&>div
		{
			display: none;
		}
		&>.deeper
		{
			left: 100%;
			top: -52px;
			height: 0px;
			position: relative;
		}
		&:hover
		{
			background-color: #202000;
			&>.top
			{
				background-color: #202000;
				&:hover
				{
					background-color: #404000;
				}
			}
			&>div
			{
				display: block;
			}
		}
	}
	&>.top
	{
		grid-row-start: 1;
	}
	&>.deeper
	{
		grid-row-start: 2;
		grid-column-start: auto;
	}
}
#navigationToggleMenu
{
	width: 50%;
	margin: auto;
	& input
	{
		display: none;
		&~.labelParent .plus
		{
			display: block;
		}
		&:checked~.labelParent .plus
		{
			display: none;
		}
		&~.labelParent .minus
		{
			display: none;
		}
		&:checked~.labelParent .minus
		{
			display: block;
		}
		&:checked~.deeper
		{
			display: flex;
			&>p
			{
				color: #000020;
			}
		}
		&:checked~.top
		{
			display: grid
		}
	}
	& p
	{
		margin: 0;
	}
	& a
	{
		color: inherit;
	}
	& .top
	{
		width: fit-content;
		&>a
		{
			grid-column-start: 2;
		}
		& .top,.deeper
		{
			grid-column-start: 2;
		}
	}
	& .labelParent:hover
	{
		background-color: #000080;
		&+a
		{
			background-color: #000080;
		}
	}
	& .top,.deeper
	{
		display: none;
	}
	&>.top
	{
		display: grid;
	}
}
