body
{
	font-size: 32px;
	font-family: monospace;
	background-color: #200000;
	color: #E0E0E0;
}
.title
{
	font-size: 64px;
	text-align: center;
	margin: 16px;
}
button,label
{
	text-align: center;
	font: inherit;
	display: block;
	background-color: #200000;
	color: #E0FFFF;
	border: 8px outset #200000;
	margin: 8px auto;
	&:hover
	{
		background-color: #400000;
		border-color: #400000;
		cursor: pointer;
	}
	&:active
	{
		border-style: inset;
	}
}
label
{
	width: fit-content;
}
#calculator
{
	width: fit-content;
	margin: auto;
	background-color: #002020;
	padding: 16px;
	&:has(~#calctoggle:checked)
	{
		display: none;
	}
}
#boxes>div
{
	padding: 8px;
	text-align: right;
	&>p
	{
		display: inline;
	}
	&>input
	{
		font: inherit;
		border: none;
		background-color: #202020;
		color: #E0E0E0;
		&:focus
		{
			outline: 2px solid #E0E0E0;
		}
	}
}
#result
{
	text-align: center;
	margin: 8px;
}
#calctoggle
{
	display: none;
	&:checked~label>#hidetext
	{
		display: none;
	}
	&:checked~label>#showtext
	{
		display: block;
	}
	&~label>#showtext
	{
		display: none;
	}
	&~label:hover
	{
		cursor: pointer;
	}
}
#hidetext,#showtext
{
	margin: 0;
}
article
{
	width: 75%;
	margin: auto;
}
