body
{
	font-size: 32px;
	font-family: monospace;
	background-color: #002020;
	color: #E0E0E0;
}
table
{
	margin: auto;
	border: 1px solid #E0E0E0;
	border-spacing: 0;
}
td
{
	border: 1px solid #E0E0E0;
}
tr:hover
{
	background-color: #004040;
	color: #C0C0C0;
}
input[type=checkbox]
{
	width: 32px;
	height: 32px;
}
.centered
{
	text-align: center;
}
.title
{
	font-size: 64px;
	text-align: center;
}
.tablediv
{
	text-align: center;
	margin: auto;
	width: fit-content;
}
.hidetable
{
	display: none;
}
.hidebox
{
	display: none;
}
.hidebox~label #closedmenu
{
	display: inline;
}
.hidebox:checked~label #closedmenu
{
	display: none;
}
.hidebox~label #openmenu
{
	display: none;
}
.hidebox:checked~label #openmenu
{
	display: inline;
}
.hidebox:checked~.hidetable
{
	display: block;
	& td
	{
		width: 128px;
	}
}
#calculator
{
	width: fit-content;
	margin: auto;
	text-align: center;
}
#finput
{
	margin: 32px;
	width: 16ch;
	background-color: #200000;
	color: #FFFFFF;
	border: none;
	font: inherit;
	text-align: right;
	&:focus
	{
		outline: 2px solid #E0E0E0;
	}
}
#foutput
{
	background-color: #200000;
	color: #FFFFFF;
	max-width: 64ch;
	overflow: auto;
}
#calculateButton
{
	background-color: #004040;
	border: 8px outset #004040;
	color: #E0E0E0;
	font: inherit;
	&:hover
	{
		background-color: #008080;
		border: 8px outset #008080;
		cursor: pointer;
	}
	&:active
	{
		border: 8px inset #008080;
	}
}
#information
{
	width: 75%;
	margin: auto;
}
