body
{
	font-size: 32px;
	font-family: monospace;
	background-color: #202020;
	color: #E0E0E0;
}
.title
{
	font-size: 64px;
	text-align: center;
	margin: 16px;
}
.centered
{
	text-align: center;
}
.description
{
	font-size: 16px;
	display: none;
}
td:hover .description
{
	display: block;
}
a
{
	color: #8080FF;
}
a:visited
{
	color: #C080FF;
}
#pagelist
{
	display: none;
}
#files
{
	text-align: center;
	border-spacing: 0px;
	margin: auto;
}
#files td
{
	width: 320px;
	border: 0px;
}
#files a
{
	color: #E0E0E0;
}
#files td:hover
{
	background-color: #404040;
}
#files td:hover a
{
	color: #FFFFFF;
}
